body {
  font: 11px sans-serif;
  font-weight: 400;
  text-align: center;
  background-color: #cedee5;
  color: #23407a;
  font-family: 'Montserrat', sans-serif;
  font-color: #23407a;
}

h1 {
  font-weight: 300;
  color: #113c4c;
  font-size: 25px;
  margin: 25px 0px 25px 0px;
  padding: 0;
  text-transform: uppercase;
  font-weight: 700;
}

h2 {
    font-color: #113c4c;
    font-size: 20px;
    font-weight: 100;
}

update_pack {
    font-color: #23407a;
}

path {
    stroke: #0d73a3;
    stroke-width: 3;
    fill: none;
}

.axis path,
.axis line {
  fill: none;
  stroke: #0e2730;
  stroke-width: 2;
  shape-rendering: crispEdges;
  font-color: white;
}

.axis text {
    font-size: 14px;
}
